/* payment.css */


body {
    font-family:'Gill Sans';
    margin: 0;
    padding: 0;
    /* background-color: #f4f4f4;  */
    background-image: url('https://images.unsplash.com/photo-1596436889106-be35e843f974?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    /* background-color: #fff;  */
    background-image: url('https://images.unsplash.com/photo-1598941288672-af25bcc7b223?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 36px;
    color: #333; /* Dark gray text color */
}

form {
    margin-top: 30px;
}

label {
    font-weight: bold;
    font-size: 18px;
    color: #333; /* Dark gray text color */
}

select, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: green; /* Blue button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
}
